/* font-family: 'Open Sans', sans-serif */

/* common css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
}




/* header css */


#header {
    padding-left: 180px;
    background: #FFF8F3;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 80px, 80px;
    background-position: 5%, 50%;
    height: 100vh;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.nav-logo a {
    color: #181818;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
}

.nav-logo a span {
    color: #FD6E0A;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu li {
    list-style: none;
    color: #474747;
}

.nav-menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 16px;
}

.nav-menu #menu-hire-btn,
.primary-btn {
    background: #FD6E0A;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* banner section */
#banner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-position-y: 100%;
}

.banner-content {
    width: 35%;
}

.banner-content h2 {
    color: #474747;
    font-size: 35px;
}

.banner-content h1 {
    color: #181818;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}

.banner-content p {
    color: #757575;
    font-size: 14px;
    margin-bottom: 20px;
}

.cv-btn {
    margin-right: 20px;
    border: 1px solid #FD6E0A;
    padding: 12px 24px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: .2s;
}

.cv-btn:hover {
    background: #FD6E0A;
    color: #fff;
}

.banner-profile {
    width: 50%;
}

.banner-profile img {
    width: 400px;
    padding-top: 150px;
    padding-left: 150px;
}


/* main style */
#main {
    max-width: 1040px;
    margin: 0 auto;
}


/* about style */

#about {
    margin: 80px 0;
    padding: 50px 130px;
    background: #FFF8F3;
    text-align: center;
}

#about .sec-title {
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

#about .about-description {
    color: #757575;
    font-size: 18px;
}

.about-info-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.about-info-item p{color: #474747;}
.about-info-item h4{color:#181818;}