/* font-family: 'Open Sans', sans-serif */

/* common css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
}




/* header css */


#header {
    padding-left: 180px;
    background: #FFF8F3;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 80px, 80px;
    background-position: 5%, 50%;
    height: 100vh;
    overflow: hidden;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.nav-logo a {
    color: #181818;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
}

.nav-logo a span {
    color: #FD6E0A;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu li {
    list-style: none;
    color: #474747;
}

.nav-menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 16px;
}

.nav-menu #menu-hire-btn,
.primary-btn {
    background: #FD6E0A;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* banner section */
#banner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-position-y: 100%;
}

.banner-content {
    width: 35%;
}

.banner-content h2 {
    color: #474747;
    font-size: 35px;
}

.banner-content h1 {
    color: #181818;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}

.banner-content p {
    color: #757575;
    font-size: 14px;
    margin-bottom: 20px;
}

.cv-btn {
    margin-right: 20px;
    border: 1px solid #FD6E0A;
    padding: 12px 24px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: .2s;
}

.cv-btn:hover {
    background: #FD6E0A;
    color: #fff;
}

.banner-profile {
    width: 50%;
}

.banner-profile img {
    width: 400px;
    padding-top: 150px;
    padding-left: 150px;
}


/* main style */
#main {
    max-width: 1040px;
    margin: 0 auto;
}


/* about style */

#about {
    margin-top: 90px;
    padding: 50px 130px;
    background: #FFF8F3;
    text-align: center;
}

#about .sec-title {
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

#about .about-description {
    color: #757575;
    font-size: 18px;
}

.about-info-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.about-info-item p {
    color: #474747;
}

.about-info-item h4 {
    color: #181818;
}



/* i do section */


#i-do {
    margin-top: 40px;
    text-align: center;
    padding: 50px 130px;
}


.i-do-desc {
    margin-top: 20px;
    color: #757575;
    font-size: 16px;
}

#skills {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.skills-item {
    padding: 25px;
    /* box-shadow: 0px 0px 10px rgb(186, 186, 186); */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.11);
}

.skills-item img{
    width: 35px;
    margin-bottom: 8px;
}

.skills-item h3{
    margin-bottom: 5px;
}

.skills-item p{
    color: #757575;
    font-size: 16px;
}




/* summary section */

#summary{
    margin-top: 80px;
}

#summary .sec-title{
    text-align: center;
    margin-bottom: 40px;
}

.summary-col-wrapper{
    display: flex;
    gap: 100px;
}

.summary-col-title{
    margin-bottom: 10px;
    font-size: 20px;
    color:#474747;
}

.summary-item{
    margin: 12px 0;
}

.summary-item h3{
    color: #474747;
    font-size:16px;
}

.summary-item span{
    color:#757575;
    font-size: 14px;
    font-weight: 600;
}

.summary-item p{
    color: #757575;
    font-weight: 400;
    font-size: 13px;
    margin-top: 5px;
}

.skills-cv{
    display:block;
    margin:0 auto;
    margin-top: 15px;
}


/* footer */

#footer{
    background-color: #FFF8F3;
    padding: 100px;
    margin-top: 80px;
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

.foot-col{
    width: 35%;
}

.foot-col h1{
    color:181818;
    font-size: 22px;
}

.foot-col p{
    color: #474747;
    font-size: 13px;
    margin: 5px 0;

}

.social-icon-foot{
    margin-top: 15px;
    overflow: hidden;
    display: flex;
    gap:20px;
}

.social-icon-foot li{
    list-style: none;
}

#form{
    margin-top: 20px;
}

.foot-col input,
.foot-col textarea{
    width: 80%;
    display: block;
    padding: 10px;
    font-size: 14px;
    color:#474747;
}

.foot-col input{
    margin-bottom: 20px;
}

.foot-col textarea{
    height: 100px;
}

.foot-submit-btn{
    margin-top: 20px;
}